<!DOCTYPE html>
<html>
<body>
<h1>This is a form</h1>
<form action="./multer" method="post"
enctype="multipart/form-data">
<label for="name">Name:</label>
<input type="text" name="name" id="name"><br>
<label for="file">Filename:</label>
<input type="file" name="file" id="file"><br>
<input type="submit" name="submit" value="Submit">
</form>
</body>
</html>
