<!DOCTYPE html>
<html lang="en">
<head>
	<title>Chemical Index</title>
	<meta charset="utf-8">
	<meta <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		


  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <!-- <a class="navbar-brand" href="#">Me</a> -->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

	<div class="container-fluid bg-1 text-center">
		<h3>Welcome to the chemical Engineering Department</h3>
		<img src="images/deptIndex.jpg" class="img-responsive img-circle" style="display:inline" alt="Department Logo">
		<p>Established in 1968, the Department of Chemical Engineering,NIT Trichy is regarded as one of the premier centers for Chemical Engineering in India by industries as well as academia. The National Board of Accreditation (NBA) has granted all PG courses offered by the department, the A(+3) certification for 3 years, the topmost any department can aspire to get. It also has the distinction of being ranked as one of the top seven Chemical Engineering divisions in India by Chemical Engineering Faculties. It offers a B.Tech programme and M.Tech programme in Energy Engineering, Plant Design and Process Controls & Instrumentation.</p>
		<br/>
		<br/>
		<p>The department is backed by highly qualified and experienced faculty, most of whom have been involved in various industrial projects and consultancy services. The students, guided by the experienced faculty, have presented many papers in India and abroad and have won several National Level Design Competitions. The programme is supplemented by several state-of-the-art laboratories, which cover all areas of practical interest. Other than traditional laboratories like Fluid Mechanics, Heat and Mass transfer and Mechanical Operations, the students are exposed to specialised ones like Reaction Engineering, Process Control, Biotechnology. The Process Control lab, one of the best in the country, is equipped with the latest instruments for recording and analysis of data used for simulating plant conditions.</p>
	</div>

	<div class="container-fluid bg-2 text-center">
  		<h3>Vision</h3>
  		<p>To be a world class chemical engineering department</p>
	</div>

	<div class="container-fluid bg-3 text-center">
  		<h3>Mission of the department</h3>
  		<dl>
  			<dd>To produce globally competent professional chemical engineers.</dd>
  			<dd>To foster process engineering knowledge through research and innovation</dd>
  			<dd>To serve organization and society as adaptable engineers, entrepreneurs or leaders</dd>
	</div>


	<div class="container-fluid bg-4 text-center">
  		<h3>Contact</h3>
  		<p>Head of the Department,<br/>
		Department of Chemical Engineering,<br/>
		National Institute of Technology,<br/>
		Tiruchirappalli - 620 015, India<br/>
		Fax: +91-431-2500133<br/>
		Phone: +91-431-2503100<br/>
		Email: <u class="text-info">chloffice@nitt.edu</u><br/>
		</p>	
	</div>

	<footer class="container-fluid bg-5 text-center">
  		<p>Made with  &hearts; by Anirudh and Nirabhra</p> 
	</footer>



</body>
</html>