<!DOCTYPE html>
<html>
  <head>

    <title>Logged In</title>
  </head>
  <body>

    <h1>Logged In As</h1>
    <p>Username: <%= username %></p>
    <button><a href="/logout">Logout</button>
  </body>
</html>
