<!DOCTYPE html>
<html>
  <head>

    <title>Login</title>
    <meta name="cache-control" content="no-cache" />
    <meta name="expires" content="0" />
    <meta name="pragma" content="no-cache" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div id="navigation">
    </div>
    <div id="sidebar">
    </div>
    <div id="notice">
      <p><%= notice %></p>
    </div>
    <div id="login" class="container">
      <form role="form" action="./auth" method="post">
        <div class="form-group">
          <label for="username">:Roll Number</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="roll" name="roll">
          </div>
        </div>
        <div class="form-group">
          <label for="pwd">:Password</label>
          <div class="col-sm-3">
            <input type="password" class="form-control" id="pwd" name="pwd">
          </div>
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
      </form>

    </div>

  </body>
</html>
