<!DOCTYPE html>
<html>
  <head>

    <title>Login</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>

    <div id="navigation">
    </div>
    <div id="sidebar">
    </div>
    <div id="notice">
    </div>
    <div id="login" class="container">
      <form role="form" action="./auth" method="post">
        <div class="form-group">
          <label for="email">:Email address</label>
          <div class="col-sm-3">
            <input type="email" class="form-control" id="email" name="email">
          </div>
        </div>
        <div class="form-group">
          <label for="pwd">:Password</label>
          <div class="col-sm-3">
            <input type="password" class="form-control" id="pwd" name="pwd">
          </div>
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
      </form>

      <p>
        This is from database: <%= data %>
      </p>
    </div>

  </body>
</html>
