<!DOCTYPE html>
<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <title>Ajax Trials</title>
   <script type="text/javascript" src="/javascripts/trial.js"></script>
</head>
<body>
  <h1>Ajax Trials</h1>
  <button type="" id="button01">Click me</button>
  <p id="p01"></p>
</body>
</html>
